body {
    color: #333;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}
header {
    padding: 8px;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

a {
    color: rgb(0, 100, 200);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(0, 80, 160);
}

label {
    display: block;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    -webkit-padding: 0.4em 0;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

input:disabled {
    color: #ccc;
}

h1 {
    font-size: 1.5em;
    margin: 0;
}

h2 {
    font-size: 1.2em;
    margin-top: 8px;
    margin-bottom: 8px;
}
:root {
    --bg-correct: #6aaa64;
    --bg-misplaced: #c9b458;
    --bg-incorrect: gray;
    --color-error: #a7442c;
    --color-border: #afafaf;
    --color-bg: #fff;
    --color-primary: #2e7d32;
    --color-primary-button: #2e7d32;
    --color-primary-light: #2e7d320b;
    --color-primary-light2: #2e7d3235;
    --color-button-text: #fff;
    --color-text-secondary: #999;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #131516;
        color: #fff;
    }
    :root {
        --color-border: #474c4f;
        --color-bg: #131516;
        --color-error: #a7442c;
        --bg-incorrect: #4a4a4a;
        --color-primary: #82d186;
        --color-primary-light: #82d1860b;
        --color-primary-light2: #82d18635;
    }
}

.button {
    border: none;
    background-color: var(--color-primary-button);
    color: var(--color-button-text);
    text-transform: uppercase;
    padding: 0 16px;
    min-width: 64px;
    min-height: 36px;
    border-radius: 4px;
    user-select: none;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    font-weight: 500;
}
.button:hover {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    filter: brightness(110%);
}
.button:active {
    filter: brightness(120%);
}